.navbar {
    background: linear-gradient(135deg, rgb(18, 18, 21), gray);
    position: relative;
    bottom: 30px;
    
}

.logo {
    color: red;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 20px;
    position: absolute;
    left: 50%;
     transform: translateX(-50%);
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
    bottom: 89px;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: white;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }
}


.contact-container{
    max-width: 1000px;
    margin: 50px auto;
    background: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 10px 30px rgba(255, 134, 134, 0.2);
}

.contact-info {
    flex: 1;
    padding: 40px;
    background: white;
}

.contact-info h2 {
    margin-bottom: 20px;
    color: red;
}

.contact-info p {
    margin: 10px 0;
    font-size: 16px;
    
}

.contact-info a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.contact-form {
    flex: 1;
    padding: 40px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form 
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 15px;
}

.contact-form button {
    background: blueviolet;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: blueviolet;
}


@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}


.footer {
    background: black;
    color: whitesmoke;
    margin-top: 40px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px 20px;
}

.footer-box h3 {
    margin-bottom: 16px;
    color: rgb(225, 225, 17);
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 8px;
    margin-left: 18px;
    
}

.footer-box ul li a {
    color:whitesmoke;
    text-decoration: none;
    font-size: 14px;
}

.footer-box ul li a:hover {
    text-decoration: underline;
    color: yellowgreen;
}

.footer-bottom {
    background: black;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

